
/*footer css start*/
footer .ft-links{
    columns: 2;
}
footer{
    background-color: #272727;
    color: #ffffff;
    padding-top: 60px;
}
.news-ryt-part img{
    margin-right: 7px;
}
.ft-links a{
    transition: 0.5s;
}
.ft-links a:hover,.news-div a:hover{
    color: #ff7d4e;
}
footer .social-icon ul{
    margin-top: 35px;
}
footer .social-icon ul li{
    display: inline-block;
    margin-right: 6px;
    margin-bottom:0;
}
footer .social-icon ul li a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #3D3D3D;
    border-radius: 4px;
    display: inline-block;
    transition: 0.5s;
}
footer .social-icon li a:hover {
    color: #fff;
    background: #ff7d4e!important;
}
footer h4{
    font-size: 22px;
    margin-bottom: 38px;
}
footer ul li,footer p{
    margin-bottom: 19px;
    font-size: 18px;
}
footer .news-div{
    margin-bottom: 28px;
    align-items: center;
}
footer .news-div .frame-img img{
    margin-right: 18px;
    width:72px;
    height:72px;
    object-fit:cover;
    border-radius:6px;
}
footer .news-div .lt-date{
    display:inline-block;
}
footer .news-div .lt-date img{
    margin-right: 6px;
}
footer .news-div a {
    transition: 0.5s;

}
footer .news-div .cald{
    margin-right: 39px;
    min-width:90px;
}
footer .bottom-line{
    background-color: #2E2E2E;
    text-align: center;
    margin-top:55px;
    padding-top:23px;
    padding-bottom:22px;
}
footer .bottom-line p{
    margin-bottom: 0;
    font-size: 16px;
}
footer .bottom-line p a:hover{
    color: #ff7d4e;
}
.ft-para{
    max-width: 392px;
    margin-bottom: 0;
    line-height: 38px;
}
@media(max-width:991px){
    footer {
        padding-top: 30px;
    }
    footer .bottom-line {
        margin-top:30px;
        padding-top:15px;
        padding-bottom:15px;
    }
    footer h4 {

        margin-bottom:15px;
    }
    .ft-main-div{
        margin-bottom: 30px;
    }
    .ft-para {
        max-width:100%;
    }
    footer ul li{
        margin-bottom: 15px;
    }
    footer .social-icon ul {
        margin-top:20px;
    }
    footer ul li, footer p {
        font-size:16px;
    }
    .lt-date{
        font-size:14px;
    }
    footer .bottom-line p {
        font-size: 14px;
    }
    footer .news-div .frame-img img {
        margin-right:15px;
        width: 60px;
        height: 60px;
    }
}


/*footer css end*/